*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.navbar{
  background-color: #000;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.navbar a{
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.navbar a:hover{
  color: #f00;
}